.task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

.task-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    flex-grow: 1;
}

.task-title {
    font-weight: bold;
}

.task-description {
    margin-top: 5px;
    color: #555;
}

.task-dueDate {
    margin-top: 5px;
    color: #888;
}

.completed .task-title,
.completed .task-description,
.completed .task-dueDate {
    text-decoration: line-through;
    color: gray;
}

.delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

button {
    margin: 5px;
}
